:root{
    --negro: #191919;
    --blanco: #ebebeb;
    --naranja: #e97958;
}

/* *{
    * {
        scrollbar-width: thin;
        scrollbar-color: #D4D4D4 #EEEEEE;
      }
       */
      /* Chrome, Edge and Safari *//* 
      *::-webkit-scrollbar {
        height: 7px;
        width: 7px;
      }
      *::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #EEEEEE;
      }
      
      *::-webkit-scrollbar-track:hover {
        background-color: #E9E9E9;
      }
      
      *::-webkit-scrollbar-track:active {
        background-color: #DDDDDD;
      }
      
      *::-webkit-scrollbar-thumb {
        border-radius: 12px;
        background-color: #D4D4D4;
      }
      
      *::-webkit-scrollbar-thumb:hover {
        background-color: #BBBBBB;
      }
      
      *::-webkit-scrollbar-thumb:active {
        background-color: #aaa;
      }
} */

nav{
    background-color: var(--negro) ;
}
nav ul{
    list-style: none;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}


nav ul li a{
    text-decoration: none;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 700;
    color: var(--blanco);

    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease;
}

nav ul li a:hover{
    color:var(--naranja)
}

#logo img{
    padding: .6rem 0;
    height: 3rem;
}