<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../css/portal/stylesIndex.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Inter+Tight:ital,wght@0,700;0,900;1,700;1,800&display=swap" rel="stylesheet">
    
    <title>¡Visitá Jujuy!</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="./sitios.html">Sitios Turísticos</a></li>
                <li id="logo"><a href="./index.html"><img src="../img/logo-jujuy.png" alt="Logo de Jujuy"></a></li>
                <li><a href="#footer">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="title">
            <img class="fondo-jujuy" src="../img/index-bg.jpg" alt="Fondo de Jujuy">
            <h1>¡Visitá Jujuy!</h1>
            <p>
                Vení a sumergirte en la belleza cautivadora de Jujuy, un rincón único en el corazón de Argentina que te espera
                con los brazos abiertos. Desde los picos imponentes de la Quebrada de Humahuaca hasta la exuberante
                selva de Yungas, cada rincón de esta tierra está impregnado de historia, cultura y naturaleza asombrosa.
            </p>
            <a href="./sitios.html">EXPLORÁ SUS SITIOS TURÍSTICOS</a>
        </section>
    </main>
    <footer id="footer">
        <section>
            <h2>Acerca de</h2>
            <ul>
                <li>Proyecto 01</li>
                <li>Ignacio Torres</li>
                <li>Fundamentos de Programación Web - TUDIVJ</li>
            </ul>
        </section>
        <section class="logo-footer-container">
            <img class="logo-footer" src="../img/logo-jujuy.png" alt="Logo de Jujuy">
        </section>
        <section>
            <h2>Contacto</h2>
            <ul>
                <li>Teléfono de Contacto: 388-123-4567</li>
                <li>Email: visitajujuy@contacto.com</li>
            </ul>
        </section>
    </footer>
</body>

</html>