<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../css/sitios/stylesSitios.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter&family=Inter+Tight:ital,wght@0,700;0,900;1,700;1,800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,400&family=League+Spartan:wght@200;400;800&display=swap"
        rel="stylesheet">

    <title>Sitios Turísticos</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="./index.html">Inicio</a></li>
                <li id="logo"><a href="./index.html"><img src="../img/logo-jujuy.png" alt="Logo de Jujuy"></a></li>
                <li><a href="#footer">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="tags">
            <h3>¡ Jujuy !</h3>
            <ul>
                <li class="titulo-tags">Etiquetas:</li>
                <li class="tag">Lugares Históricos</li>
                <li class="tag">Cerros</li>
                <li class="tag">Parques</li>
                <li class="tag">Teatros</li>
                <li class="tag">Iglesias</li>
            </ul>
        </section>

        <h1>Sitios Turísticos</h1>

        <section class="sitios">
            <div class="sitio">
                <img src="../img/hornocal.png" alt="img">
                <div class="desc">
                    <h2>Serranías del Hornocal</h2>
                    <div class="scrolleable">
                        <p>Descubrí un mundo de colores impresionantes en cada estrato de montaña, un regalo visual de
                            nuestra naturaleza querida.</p>
                    </div>
                </div>
                <div class="puntuacion">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <span class="texto-chico">(887 opiniones)</span>
            </div>
            <div class="sitio">
                <img src="../img/pucara-de-tilcara.png" alt="Paisaje del Pucará">
                <div class="desc">
                    <h2>Pucará de Tilcara</h2>
                    <div class="scrolleable">
                        <p>Este histórico sitio ofrece una visión fascinante de la
                            arquitectura y la vida de las culturas ancestrales de la región.</p>
                    </div>
                </div>
                <div class="puntuacion">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <span class="texto-chico">(13,3K opiniones)</span>
            </div>
            <div class="sitio">
                <img src="../img/quebrada-de-humahuaca.png" alt="Paisaje del Cerro de Los 7 Colores">
                <div class="desc">
                    <h2>Quebrada de Humahuaca</h2>
                    <div class="scrolleable">
                        <p>
                            La Quebrada de Humahuaca muestra paisajes multicolores y una historia
                            cultural rica, revelando la magnificencia de la naturaleza y el paso del tiempo.
                        </p>
                    </div>
                </div>
                <div class="puntuacion">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <span class="texto-chico">(416 opiniones)</span>
            </div>
            <div class="sitio">
                <img src="../img/parque-calilegua-1.png" alt="Paisaje del Parque Calilegua">
                <div class="desc">
                    <h2>Parque Nacional Calilegua</h2>
                    <div class="scrolleable">
                        <p> El Parque Nacional Calilegua presenta un asombroso pasiaje y una gran biodiversidad, una
                            experiencia
                            natural inolvidable.</p>
                    </div>
                </div>
                <div class="puntuacion">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i>
                </div>
                <span class="texto-chico">(1,5K opiniones)</span>
            </div>
            <div class="sitio">
                <img src="../img/termas-del-jordan.png" alt="Paisaje de las Termas del Jordán">
                <div class="desc">
                    <h2>Termas del Jordán</h2>
                    <div class="scrolleable">
                        <p>En las Termas del Río Jordán, se fusionan aguas termales y naturaleza en un refugio sereno de
                            relajación.</p>
                    </div>
                </div>
                <div class="puntuacion">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i>
                </div>
                <span class="texto-chico">(756 opiniones)</span>
            </div>
            <div class="sitio">
                <img src="../img/teatro-mitre.png" alt="Panorámica del interior del Teatro Mitre">
                <div class="desc">
                    <h2>Teatro Mitre</h2>
                    <div class="scrolleable">
                        <p>Experimentá el arte en este histórico escenario, donde las actuaciones cautivadoras
                            cobran vida brindando experiencias excelentes.</p>
                    </div>
                </div>
                <div class="puntuacion">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i>
                </div>
                <span class="texto-chico">(1,6K opiniones)</span>
            </div>
            <div class="sitio">
                <img src="../img/plaza-belgrano-3.png" alt="Foto aérea de la Plaza Belgrano">
                <div class="desc">
                    <h2>Plaza Belgrano</h2>
                    <div class="scrolleable">
                        <p>Acá la historia se entrelaza con la vitalidad contemporánea, creando un espacio emblemático
                            lleno de encanto y energía.</p>
                    </div>
                </div>
                <div class="puntuacion">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i>
                </div>
                <span class="texto-chico">(12,9K opiniones)</span>
            </div>
            <div class="sitio">
                <img src="../img/salinas-grandes.png" alt="img">
                <div class="desc">
                    <h2>Salinas Grandes</h2>
                    <div class="scrolleable">
                        <p>Contemplá un paisaje surreal donde el blanco infinito se fusiona con el cielo, una
                            experiencia natural verdaderamente única.</p>
                    </div>
                </div>
                <div class="puntuacion">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <span class="texto-chico">(798 opiniones)</span>
            </div>
        </section>

    </main>
    <footer id="footer">
        <section>
            <h2>Acerca de</h2>
            <ul>
                <li>Proyecto 01</li>
                <li>Ignacio Torres</li>
                <li>Fundamentos de Programación Web - TUDIVJ</li>
            </ul>
        </section>
        <section class="logo-footer-container">
            <img class="logo-footer" src="../img/logo-jujuy.png" alt="Logo de Jujuy">
        </section>
        <section>
            <h2>Contacto</h2>
            <ul>
                <li>Teléfono de Contacto: 388-123-4567</li>
                <li>Email: visitajujuy@contacto.com</li>
            </ul>
        </section>
    </footer>
</body>

</html>