<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../css/sitios/stylesSitios.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter&family=Inter+Tight:ital,wght@0,700;0,900;1,700;1,800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,400&family=League+Spartan:wght@200;400;800&display=swap"
        rel="stylesheet">

    <title>Sitios Turísticos</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="./index.html">Inicio</a></li>
                <li id="logo"><a href="./index.html"><img src="../img/logo-jujuy.png" alt="Logo de Jujuy"></a></li>
                <li><a href="#footer">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="tags">
            <h3>¡ Jujuy !</h3>
            <ul>
                <li class="titulo-tags">Etiquetas:</li>
                <li class="tag">Iglesias</li>
                <li class="tag">Parques</li>
                <li class="tag">Tag3</li>
                <li class="tag">Tag4</li>
                <li class="tag">Tag5</li>
            </ul>
        </section>

        <h1>Sitios Turísticos</h1>

        <section class="sitios">
            <div class="sitio">
                <img src="https://picsum.photos/600" alt="img">
                <div class="desc">
                    <h2>Sitio Turístico</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                </div>
                <div class="puntuacion">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <span class="texto-chico">(12 opiniones)</span>
            </div>
            <div class="sitio">
                <img src="https://picsum.photos/700" alt="img">
                <div class="desc">
                    <h2>Sitio Turístico</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                </div>
                <div class="puntuacion">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <span class="texto-chico">(12 opiniones)</span>
            </div>
            <div class="sitio">
                <img src="https://picsum.photos/800" alt="img">
                <div class="desc">
                    <h2>Sitio Turístico</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                </div>
                <div class="puntuacion">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <span class="texto-chico">(12 opiniones)</span>
            </div>
            <div class="sitio">
                <img src="https://picsum.photos/900" alt="img">
                <div class="desc">
                    <h2>Sitio Turístico</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                </div>
                <div class="puntuacion">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <span class="texto-chico">(12 opiniones)</span>
            </div>
            <div class="sitio">
                <img src="https://picsum.photos/910" alt="img">
                <div class="desc">
                    <h2>Sitio Turístico</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                </div>
                <div class="puntuacion">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <span class="texto-chico">(12 opiniones)</span>
            </div>
            <div class="sitio">
                <img src="https://picsum.photos/920" alt="img">
                <div class="desc">
                    <h2>Sitio Turístico</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                </div>
                <div class="puntuacion">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <span class="texto-chico">(12 opiniones)</span>
            </div>
            <div class="sitio">
                <img src="https://picsum.photos/930" alt="img">
                <div class="desc">
                    <h2>Sitio Turístico</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                </div>
                <div class="puntuacion">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <span class="texto-chico">(12 opiniones)</span>
            </div>
            <div class="sitio">
                <img src="https://picsum.photos/940" alt="img">
                <div class="desc">
                    <h2>Sitio Turístico</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                </div>
                <div class="puntuacion">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <span class="texto-chico">(12 opiniones)</span>
            </div>
        </section>

    </main>
    <footer id="footer">
        <section>
            <h2>Acerca de</h2>
            <ul>
                <li>Proyecto 01</li>
                <li>Ignacio Torres</li>
                <li>Fundamentos de Programación Web - TUDIVJ</li>
            </ul>
        </section>
        <section class="logo-footer-container">
            <img class="logo-footer" src="../img/logo-jujuy.png" alt="Logo de Jujuy">
        </section>
        <section>
            <h2>Contacto</h2>
            <ul>
                <li>Teléfono de Contacto: 388-123-4567</li>
                <li>Email: visitajujuy@contacto.com</li>
            </ul>
        </section>
    </footer>
</body>

</html>